<header
  class="sticky top-[-25px] z-50 bg-radial-[at_0%_100%] from-blue-50 to-slate-50 dark:from-blue-900 dark:to-slate-900 text-blue-900 shadow shadow-blue-100 dark:shadow-blue-900 dark:text-blue-50 px-6 py-4">
  <h1 class="m-0 text-xl font-semibold">Groups</h1>
</header>
<main class="max-w-4xl mx-auto p-6">
  <div *ngIf="loading">Loading…</div>
  <a [href]="'/g/'+g.slug" *ngFor="let g of items" class="block my-2 p-3 rounded bg-radial-[at_0%_100%] from-blue-50 to-slate-50 dark:from-blue-950 dark:to-slate-900 shadow shadow-blue-100 dark:shadow-blue-900">
    <strong class="text-blue-900 dark:text-blue-50">/g/{{g.slug}}</strong>
    <div class="text-slate-900 dark:text-slate-50">{{g.description}}</div>
  </a>
</main>