<main class="max-w-4xl mx-auto p-6 h-[100vh] overflow-x-hidden overflow-y-auto">
  <app-post-create (posted)="onPosted($event)"></app-post-create>
  <section>
    <div class="sticky top-[-25px] z-50 flex items-center justify-between bg-white/90 dark:bg-slate-900/80 backdrop-blur px-2 py-3 text-slate-800 dark:text-slate-200">
      <div class="font-black text-xl">Feed</div>
      <div class="flex items-center justify-end gap-2">
        <div class="tab_recent text-gray-600 font-bold cursor-pointer">Recent</div>
        <div class="tab_friends text-gray-600 font-bold cursor-pointer">Friends</div>
        <div class="tab_popular text-gray-600 font-bold cursor-pointer">Popular</div>
      </div>
    </div>
    <div *ngIf="loading">Loading.</div>
    <app-post-card *ngFor="let post of posts" [post]="post" [users]="users" [emojis]="emojis">
    </app-post-card>
  </section>
</main>
